body {

    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
    margin: 40px;

}


header {

    max-width: 800px;
    margin-bottom: 40px;

}


h1 {

    color: #0b5ed7;
    font-size: 42px;

}


h2 {

    color: #0b5ed7;

}


section {

    max-width: 800px;
    margin-bottom: 40px;

}


li {

    margin-bottom: 8px;

}


a {

    color: #0b5ed7;
    text-decoration: none;

}
